{{#if tasks}}
  <table class="table table-bordered table-hover table-dark">
    <tbody>
      <thead>
        <tr>
          <th>N.</th>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      {{#each tasks}}
        <tr>
          <td>{{@index}}</td>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>
            {{#if done}}
              <a
                href="/task/{{_id}}/toggledone"
                class="btn btn-dark"
              >Deshacer</a>
            {{else}}
              <a
                href="/task/{{_id}}/toggledone"
                class="btn btn-success"
              >Hecho</a>
            {{/if}}

            <a href="/task/{{_id}}/edit" class="btn btn-danger">Editar</a>
            <a href="/task/{{_id}}/delete" class="btn btn-info">Eliminar</a>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100-d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No hay tareas</h1>
      <img src="img/empty.png" width="75" />
    </div>
  </div>
{{/if}}